{% extends "base.html" %}

{% block content %}
<div class="home">
    <form class="home-items" action="" method="post">
        <h1 class="form-item">Играть с компьютером</h1>
        {{ form.hidden_tag() }}
        <p>
            <span class="form-item">{{ form.color.label }}</span><br>
            {{ form.color(class="form-control") }}<br>
            {% for error in form.color.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <p>
            <span class="form-item">{{ form.level.label }}</span><br>
            {{ form.level(class="form-control") }}<br>
            {% for error in form.level.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        <p>{{ form.submit(type="submit", class="btn form-button") }}</p>
        {{message}}
    </form>
</div>
{% endblock %}